In [97]:
import pandas as pd
import matplotlib.pyplot as plt
from census import Census

In [76]:
df = pd.read_csv("data/College_Control_Towns.csv")

# Filter by states with more than 20 college founding experiments
counts = df["State"].value_counts()
states_include = counts[counts > 20].index
df = df[df["State"].isin(states_include)]

In [77]:
df['Place'] = list(zip(df['Town'], df['County'], df['State']))
df['Experiment'] = list(zip(df['College_Abbrev'], df['Year_Founded']))
df2 = df[["Experiment", "Place", "Treatment"]]

In [78]:
matched = df2.groupby(["Experiment", "Treatment"])["Place"].agg(['unique']).reset_index()
matched = matched.rename(columns = {"unique" : "Place"})

In [96]:
matched["County"] = [[tupule[1] for tupule in list] for list in matched["Place"]]
matched["State"] = [[tupule[2] for tupule in list] for list in matched["Place"]]
matched.head()

,Experiment,Treatment,Place,County,State
0,"(AkronU, 1870)",0,"[(Kent, Portage, Ohio)]",[Portage],[Ohio]
1,"(AkronU, 1870)",1,"[(Akron, Summit, Ohio)]",[Summit],[Ohio]
2,"(AlAMU, 1875)",0,"[(Montgomery, Montgomery, Alabama), (Tuskeegee...","[Montgomery, Macon]","[Alabama, Alabama]"
3,"(AlAMU, 1875)",1,"[(Huntsville, Madison, Alabama)]",[Madison],[Alabama]
4,"(AlcSU, 1871)",0,"[(Corinth, Alcorn, Mississippi), (Okolona, Chi...","[Alcorn, Chickasaw, Marshall]","[Mississippi, Mississippi, Mississippi]"